In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [3]:
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df=pd.read_csv('covid_toy.csv')

In [5]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test= train_test_split(df.drop
                                                (columns=['has_covid']),df['has_covid'],test_size=0.2)

In [9]:
x_train

    age  gender  fever   cough       city
23   80  Female   98.0    Mild      Delhi
96   51  Female  101.0  Strong    Kolkata
10   75  Female    NaN    Mild      Delhi
40   49  Female  102.0    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
58   23    Male   98.0  Strong     Mumbai
31   83    Male  103.0    Mild    Kolkata
64   42    Male  104.0    Mild     Mumbai
43   22  Female   99.0    Mild  Bangalore
84   69  Female   98.0  Strong     Mumbai

[80 rows x 5 columns]

# Manually type output

In [12]:
# adding simple imputer to fever column
si=SimpleImputer(strategy='mean')
x_train_fever=si.fit_transform(x_train[['fever']])


# also the test data
x_test_fever=si.fit_transform(x_test[['fever']])


x_train_fever.shape

(80, 1)

In [14]:
# Ordinal encoding----> cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough=oe.fit_transform(x_test[['cough']])

x_train_cough.shape

(80, 1)

In [15]:
# onehotencoder ---> gender,city
ohe=OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city=ohe.fit_transform(x_test[['gender','city']])
x_train_gender_city.shape

(80, 4)

In [17]:
# extracting age
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

#also the test data
x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

In [18]:
x_train_age.shape

(80, 1)

In [20]:
x_train_transformed=np.concatenate(
    (x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

In [21]:
# x_test_transformed=np.concatenate((x_test_age, x_test_fever,x_test_gender_city, x_test_cough),axis=1)

In [22]:
x_train_transformed.shape

(80, 7)

# by the help of column Transformer

In [26]:
from sklearn.compose import ColumnTransformer  # this is how to import columnTransformer

In [29]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']), # in a 'fever' column by the help of simpleimputer
    # we fill missing value by mean , median , mode
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    # by this process we encode our data
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')
# remainder=passthrough --> it means rest all the columnsÂ remainÂ same

In [30]:
transformer.fit_transform(x_train).shape

(80, 7)

In [31]:
transformer.transform(x_test).shape

(20, 7)