In [1]:
# Data distribution
# df ----> x(input) + y(target)
# x(input) ---> x_train + x_test
# y(target) ---> y_train + y_test


# ML_Model(x_train + y_train)
# prediction(x_test) ---> y_pred 
# Accuracy(y_test , y_pred)

In [2]:
# df = cgpa, resume_score, placed
# x= cgpa, resume_score(100)
# y= placed(100)
# x= x_train(80) , x_test(20)
# y= y_train(80) , y_test(20)

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('placement.csv')

In [5]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
df.shape

(100, 3)

In [7]:
x= df.drop(columns=['placed']) ## Input data
y= df['placed']  # target data

In [8]:
print('Dataframe = ',df.shape)
print('x shape= ',x.shape)
print('y shape= ',y.shape)

Dataframe =  (100, 3)
x shape=  (100, 2)
y shape=  (100,)

In [9]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size=0.2, random_state=30)

In [12]:
print('DataFrame shape = ',df.shape)
print('x shape= ',x.shape)
print('x_train shape= ',x_train.shape)
print('x_test shape=', x_test.shape)


print('y shape= ', y.shape)
print('y_train shape= ',y_train.shape)
print('y_test shape=', y_test.shape)

DataFrame shape =  (100, 3)
x shape=  (100, 2)
x_train shape=  (80, 2)
x_test shape= (20, 2)
y shape=  (100,)
y_train shape=  (80,)
y_test shape= (20,)

In [13]:
# df(100,3)= x(100,2)+ y(100,1)
# x(100,2)= x_train(80,2) + x_test(20,2)
#y(100,1)=y_train(80,1) + y_test(20,1)

In [14]:
df=pd.read_csv('covid_toy.csv')

In [15]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [16]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [17]:
df['gender']=df['gender'].map({'Male':0,'Female':1})

In [18]:
df['cough']=df['cough'].map({'Mild':0,'Strong':1})

In [19]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [20]:
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})

In [21]:
df['has_covid'] = df['has_covid'].map({"No":0,"Yes":1})

In [22]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0

In [23]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [24]:
from sklearn.impute import SimpleImputer    # simpleimpute will fill the missing data with mean, median, mode.

In [25]:
si=SimpleImputer(strategy='mean')

In [26]:
df['fever']=si.fit_transform(df[['fever']])   ###fit means learn the parameter and transform means apply on that.

In [27]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [28]:
df.shape

(100, 6)

In [33]:
x=df.drop(columns=['has_covid'])

In [34]:
y=df['has_covid']

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 30)

In [37]:
print("DataFrame shape = " , df.shape)
print("x shape = " , x.shape)
print("x_train shape = " , x_train.shape)
print("x_test shape = " , x_test.shape)

print("y shape = " , y.shape)
print("y_train shape = " , y_train.shape)
print("y_test shape = " , y_test.shape)

DataFrame shape =  (100, 6)
x shape =  (100, 5)
x_train shape =  (80, 5)
x_test shape =  (20, 5)
y shape =  (100,)
y_train shape =  (80,)
y_test shape =  (20,)

In [32]:
# df(100,6) = x(100,5) + y(100,1)
# x(100,5) = x_train(80,5) + x_test(20,5)
# y(100,1) = y_train(80,1) + y_test(20,1)