In [1]:
# Encoding ---> Transform categorical data into Numerical data.

In [2]:
# a=['1','2','45']
# print(a)
#b=list(map(int,a))
# print(b)

# LabelEncoding

1. it will convert categorical data into numerical one by one.
2. We cannot change sub-categories encoded values.

In [2]:
import numpy as np
import pandas as pd

In [7]:
df=pd.read_csv('covid_toy.csv')

In [8]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
si=SimpleImputer()

In [12]:
df['fever']=si.fit_transform(df[['fever']])

In [13]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [14]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lb=LabelEncoder()

In [18]:
df['gender']=lb.fit_transform(df['gender'])

In [19]:
df['cough']=lb.fit_transform(df['cough'])

In [20]:
df['city']=lb.fit_transform(df['city'])

In [21]:
df['has_covid']=lb.fit_transform(df['has_covid'])

In [22]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [23]:
x=df.drop(columns=['has_covid'])

In [24]:
y=df['has_covid']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_strain,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [29]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
sc=StandardScaler()

In [32]:
x_train_sc=sc.fit_transform(x_train)

In [33]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [34]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [35]:
df=pd.read_csv('tips.csv')

In [36]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [37]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

In [40]:
lb=LabelEncoder()

In [41]:
df['sex']=lb.fit_transform(df['sex'])

In [42]:
df['smoker']=lb.fit_transform(df['smoker'])

In [43]:
df['day']=lb.fit_transform(df['day'])

In [44]:
df['time']=lb.fit_transform(df['time'])

In [45]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [46]:
x=df.drop(columns=['total_bill'])

In [47]:
y=df['total_bill']

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [51]:
from sklearn.preprocessing import StandardScaler

In [52]:
sc=StandardScaler()

In [53]:
x_train_sc=sc.fit_transform(x_train)

In [54]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [55]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00    0.00    0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.46   -1.37   -0.79   -1.84   -0.61   -1.68
25%     -0.76   -1.37   -0.79   -0.76   -0.61   -0.61
50%     -0.06    0.73   -0.79    0.31   -0.61   -0.61
75%      0.43    0.73    1.26    0.31    1.64    0.45
max      4.85    0.73    1.26    1.39    1.64    3.65

In [56]:
from sklearn.preprocessing import MinMaxScaler

In [57]:
mn=MinMaxScaler()

In [58]:
x_train_sc=mn.fit_transform(x_train)

In [59]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [60]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

# OrdinalEncoder

In [17]:
df=pd.read_csv('covid_toy.csv')

In [18]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [19]:
df=  df.drop(columns = ['city'])

In [20]:
df.head(3)

   age gender  fever cough has_covid
0   60   Male  103.0  Mild        No
1   27   Male  100.0  Mild       Yes
2   42   Male  101.0  Mild        No

In [21]:
df = df.drop(columns = ['age' , 'fever'])   # because of numerical data

In [22]:
df.shape

(100, 3)

In [23]:
df = df.dropna()

In [24]:
df.head(3)

  gender cough has_covid
0   Male  Mild        No
1   Male  Mild       Yes
2   Male  Mild        No

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
oe = OrdinalEncoder(categories = [['Male','Female'],['Mild','Strong'],['No','Yes']])

In [27]:
df_trans = oe.fit_transform(df)

In [28]:
df_new = pd.DataFrame(df_trans , columns = df.columns)

In [29]:
df_new.head(3)

   gender  cough  has_covid
0     0.0    0.0        0.0
1     0.0    0.0        1.0
2     0.0    0.0        0.0