In [1]:
# Standardization ---> 
# mean = 0 , standard daviation = 1

In [2]:
# Normal Distribution --->
# centeral tendancy(mean,median,mode) ---> left and right side equal data points.

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('placement.csv')

In [5]:
df.head(3)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1

In [6]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [7]:
df.shape

(100, 3)

In [8]:
x=df.drop(columns=['placed'])

In [9]:
y=df['placed']

In [10]:
print('Dataframe = ',df.shape)
print('x shape= ',x.shape)
print('y shape= ',y.shape)

Dataframe =  (100, 3)
x shape=  (100, 2)
y shape=  (100,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size=0.2, random_state=30)

In [13]:
print('DataFrame shape = ',df.shape)
print('x shape= ',x.shape)
print('x_train shape= ',x_train.shape)
print('x_test shape=', x_test.shape)


print('y shape= ', y.shape)
print('y_train shape= ',y_train.shape)
print('y_test shape=', y_test.shape)

DataFrame shape =  (100, 3)
x shape=  (100, 2)
x_train shape=  (80, 2)
x_test shape= (20, 2)
y shape=  (100,)
y_train shape=  (80,)
y_test shape= (20,)

In [14]:
# df(100,3)= x(100,2)+ y(100,1)
# x(100,2)= x_train(80,2) + x_test(20,2)
#y(100,1)=y_train(80,1) + y_test(20,1)

In [15]:
np.round(x_train.describe() ,2)

        cgpa  resume_score
count  80.00         80.00
mean    7.01          6.91
std     1.13          1.04
min     5.27          4.95
25%     6.03          6.17
50%     6.82          7.10
75%     8.06          7.68
max     9.40          9.06

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc= StandardScaler()

In [18]:
x_train_sc= sc.fit_transform(x_train)  # fit means learn the parameters and transform means apply on x_train data.

In [19]:
type(x_train_sc)

numpy.ndarray

In [20]:
x_train_new= pd.DataFrame(x_train_sc, columns= x_train.columns)

In [21]:
np.round(x_train_new.describe(), 2)

        cgpa  resume_score
count  80.00         80.00
mean    0.00          0.00
std     1.01          1.01
min    -1.55         -1.90
25%    -0.87         -0.71
50%    -0.17          0.19
75%     0.94          0.76
max     2.14          2.09

In [22]:
df=pd.read_csv('covid_toy.csv')

In [23]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [24]:
df['gender']=df['gender'].map({'Male':0,'Female':1})

In [25]:
df.head()

   age  gender  fever cough     city has_covid
0   60       0  103.0  Mild  Kolkata        No
1   27       0  100.0  Mild    Delhi       Yes
2   42       0  101.0  Mild    Delhi        No
3   31       1   98.0  Mild  Kolkata        No
4   65       1  101.0  Mild   Mumbai        No

In [26]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [27]:
df['cough']=df['cough'].map({'Mild':0,'Strong':1})

In [28]:
df.head(3)

   age  gender  fever  cough     city has_covid
0   60       0  103.0      0  Kolkata        No
1   27       0  100.0      0    Delhi       Yes
2   42       0  101.0      0    Delhi        No

In [29]:
df['city']=df['city'].map({'Kolkata':0,'Bangalore':1,'Delhi':2,'Mumbai':3})

In [30]:
df.head(3)

   age  gender  fever  cough  city has_covid
0   60       0  103.0      0     0        No
1   27       0  100.0      0     2       Yes
2   42       0  101.0      0     2        No

In [31]:
df['has_covid'] = df['has_covid'].map({"No":0,"Yes":1})

In [32]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [34]:
df=df.dropna()
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0

In [35]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [36]:
x=df.drop(columns=['has_covid']) # input data
y= df['has_covid'] # target data

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.2, random_state=42)

In [39]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  72.00   72.00   72.00  72.00  72.00
mean   43.53    0.64  100.74   0.35   1.17
std    25.30    0.48    2.12   0.48   1.02
min     5.00    0.00   98.00   0.00   0.00
25%    19.75    0.00   99.00   0.00   0.00
50%    47.00    1.00  101.00   0.00   1.00
75%    65.25    1.00  102.25   1.00   2.00
max    83.00    1.00  104.00   1.00   3.00

In [40]:
from sklearn.preprocessing import StandardScaler

In [41]:
sc= StandardScaler()

In [42]:
x_train_sc=sc.fit_transform(x_train)

In [43]:
type(x_train_sc)

numpy.ndarray

In [44]:
x_train_new=pd.DataFrame(x_train_sc, columns=x_train.columns)

In [45]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  72.00   72.00  72.00  72.00  72.00
mean   -0.00    0.00  -0.00   0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.53   -1.33  -1.30  -0.73  -1.15
25%    -0.95   -1.33  -0.83  -0.73  -1.15
50%     0.14    0.75   0.13  -0.73  -0.16
75%     0.86    0.75   0.72   1.37   0.82
max     1.57    0.75   1.55   1.37   1.81

In [46]:
df=pd.read_csv('tips.csv')

In [47]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [48]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [49]:
df['time']=df['time'].map({'Dinner':0,'Lunch':1})

In [50]:
df['day']=df['day'].map({'Sat':0,'Sun':1,'Thur':2,'Fri':3})

In [51]:
df['sex']=df['sex'].map({'Male':0,'Female':1})

In [52]:
df.head(3)

   total_bill   tip  sex smoker  day  time  size
0       16.99  1.01    1     No    1     0     2
1       10.34  1.66    0     No    1     0     3
2       21.01  3.50    0     No    1     0     3

In [53]:
df['smoker']=df['smoker'].map({'No':0,'Yes':1})

In [54]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    1       0    1     0     2
1       10.34  1.66    0       0    1     0     3
2       21.01  3.50    0       0    1     0     3

In [55]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [56]:
x=df.drop(columns=['total_bill'])

In [57]:
y=df['total_bill']

In [58]:
df.shape

(244, 7)

In [59]:
x.shape

(244, 6)

In [60]:
y.shape

(244,)

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)

In [63]:
np.round(x_train.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     3.05    0.34    0.37    1.04    0.27    2.56
std      1.38    0.48    0.48    0.92    0.45    0.92
min      1.00    0.00    0.00    0.00    0.00    1.00
25%      2.00    0.00    0.00    0.00    0.00    2.00
50%      3.00    0.00    0.00    1.00    0.00    2.00
75%      3.70    1.00    1.00    2.00    1.00    3.00
max     10.00    1.00    1.00    3.00    1.00    6.00

In [64]:
from sklearn.preprocessing import StandardScaler

In [65]:
sc=StandardScaler()

In [66]:
x_train_sc=sc.fit_transform(x_train)

In [67]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [68]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean    -0.00   -0.00   -0.00   -0.00    0.00   -0.00
std      1.00    1.00    1.00    1.00    1.00    1.00
min     -1.49   -0.72   -0.77   -1.14   -0.61   -1.70
25%     -0.76   -0.72   -0.77   -1.14   -0.61   -0.61
50%     -0.04   -0.72   -0.77   -0.04   -0.61   -0.61
75%      0.47    1.38    1.31    1.05    1.64    0.47
max      5.04    1.38    1.31    2.14    1.64    3.72